<div class="tdk-intro middle">
  <img class="tdk-logo" alt="TDK Logo" src="assets/images/tdk-logo.png">
  <h3>University of Basel Kings’ Valley Project</h3>
  <p>The undecorated tombs KV 40 and KV 64</p>

  <div class="index" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center" fxLayoutGap="3%">
    <button fxFlex mat-raised-button color="accent" class="index-btn" routerLink="/lage">Lage</button>
    <button fxFlex mat-raised-button color="accent" class="index-btn" routerLink="/kampagne">Kampagne</button>
    <button fxFlex mat-raised-button color="accent" class="index-btn" routerLink="/bild">Bild</button>
  </div>


</div>
