<button mat-stroked-button class="previousBtn" (click)="location.back()">
  <mat-icon>arrow_back</mat-icon>
  Zurück
</button>

<div class="resource-view container middle">

  <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

  <div *ngIf="!loading">

    <div class="resource">

      <mat-list>

        <!-- title (type + label) -->
        <h3 class="mat-subheader">
          {{ontologyInfo?.getLabelForResourceClass(resource.type)}}
        </h3>

        <mat-list-item>
          <h2 class="mat-headline">{{resource?.label}}</h2>
        </mat-list-item>

      </mat-list>

      <!-- show properties, annotations (list of regions, sequences etc.), incomming resources (links, files) -->
      <div class="data">

        <mat-tab-group class="full-width" animationDuration="0ms">
          <mat-tab label="Metadata">
            <mat-list>
              <div *ngFor="let prop of resource?.properties | kuiKey; let last = last" class="property">
                <!-- label of the property -->
                <h3 mat-subheader class="property-label">
                  {{ontologyInfo?.getLabelForProperty(prop.key)}}
                </h3>
                <!-- the value(s) of the property -->
                <mat-list-item class="property-value-item" *ngFor="let val of prop?.value | kuiKey; let lastItem = last">
                  <li [ngSwitch]="val.value.getClassName()" [class.list]="prop.value.length > 1" [class.lastItem]="lastItem">
                    <kui-text-value-as-string *ngSwitchCase="KnoraConstants.ReadTextValueAsString" [valueObject]="val.value">
                    </kui-text-value-as-string>
                    <kui-text-value-as-xml *ngSwitchCase="KnoraConstants.ReadTextValueAsXml" [valueObject]="val.value">
                    </kui-text-value-as-xml>
                    <kui-date-value *ngSwitchCase="KnoraConstants.ReadDateValue" [valueObject]="val.value" [calendar]="true" [era]="true"></kui-date-value>
                    <kui-link-value class="app-link" *ngSwitchCase="KnoraConstants.ReadLinkValue" [valueObject]="val.value" [ontologyInfo]="ontologyInfo" (referredResourceClicked)="openLink($event)">
                    </kui-link-value>
                    <kui-integer-value *ngSwitchCase="KnoraConstants.ReadIntegerValue" [valueObject]="val.value">
                    </kui-integer-value>
                    <kui-decimal-value *ngSwitchCase="KnoraConstants.ReadDecimalValue" [valueObject]="val.value">
                    </kui-decimal-value>
                    <kui-geometry-value *ngSwitchCase="KnoraConstants.ReadGeomValue" [valueObject]="val.value">
                    </kui-geometry-value>
                    <kui-color-value *ngSwitchCase="KnoraConstants.ReadColorValue" [valueObject]="val.value">
                    </kui-color-value>
                    <kui-uri-value *ngSwitchCase="KnoraConstants.ReadUriValue" [valueObject]="val.value"></kui-uri-value>
                    <kui-boolean-value *ngSwitchCase="KnoraConstants.ReadBooleanValue" [valueObject]="val.value">
                    </kui-boolean-value>
                    <kui-interval-value *ngSwitchCase="KnoraConstants.ReadIntervalValue" [valueObject]="val.value">
                    </kui-interval-value>
                    <kui-list-value *ngSwitchCase="KnoraConstants.ReadListValue" [valueObject]="val.value"></kui-list-value>
                    <kui-textfile-value *ngSwitchCase="KnoraConstants.TextFileValue" [valueObject]="val.value">
                    </kui-textfile-value>
                    <span *ngSwitchDefault>Not supported {{val.value.getClassName()}}</span>
                  </li>
                </mat-list-item>
                <mat-divider *ngIf="!last;"></mat-divider>
              </div>
            </mat-list>
          </mat-tab>

          <!-- incoming links -->
          <mat-tab label="Links / Connections" *ngIf="resource?.incomingLinks?.length > 0">
            <div>
              <mat-list *ngFor="let incoming of resource.incomingLinks">
                <mat-list-item class="app-link" (click)="showIncomingRes(incoming.id)">
                  <span>{{incoming.label}}</span>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-tab>

        </mat-tab-group>

      </div>

    </div>

  </div>
</div>
