<mat-form-field>
  <mat-select #selection>
    <mat-option *ngFor="let val of searchOptionsStrings; let i=index" [value]="i">{{storage.selectedLanguage == 0 ? val['en'] : val['de']}}</mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="selection.value && selection.value !== 6 && selection.value !== 0">
  <mat-form-field>
    <textarea  #textField matInput ></textarea>
  </mat-form-field>
  <a class="button" mat-button (click)="searchRequested(selection.value, textField.value)">{{storage.selectedLanguage == 0 ? 'Search' : 'Suchen'}}</a>
</div>
<div *ngIf="selection.value === 6">
  <!-- TODO: Put map stuff -->
  <p>Under Construction</p>
</div>
<div *ngIf="selection.value === 0">
  <mat-form-field>
    <mat-select #objectField>
      <mat-option *ngFor="let node of objectList" [value]="node.id">{{getObjectLabel(node)}} </mat-option>
    </mat-select>
  </mat-form-field>
  <a class="button" mat-button (click)="objectSearch(objectField.value)">Suchen</a>
</div>
<br>
<div *ngIf="noResults">
    <h3>{{storage.selectedLanguage == 0 ? 'No results found' : 'Keine Resultate gefunden'}}</h3>
</div>
<div *ngFor="let result of results">
    <div *ngFor="let img of result.images">
        <dsp-still-image [images]="[img.image]"></dsp-still-image>
        <a class="button" mat-button (click)="openResource(img.iri)">Details</a>
    </div>
</div>
<a class="button" mat-button *ngIf="moreToLoad()" (click)="loadMore()">{{storage.selectedLanguage == 0 ? 'Load More' : 'Mehr laden'}}</a>

<div *ngIf="objectList">

</div>
