.subcontainer {
  display: flex;
}
.container {
  margin: 25px;
}
.form {
  flex-grow: 2;
}
.value-field {
  display: inline;
}
.textfields {
  flex-grow: 1;
}
textarea {
  background-color: beige;
  border: black solid 1px;
  display: block;
  margin-bottom: 20px !important;
}
.searchbutton {
  background-color: beige;
  display: block;
  margin:0 auto;
  width: 5%;
}
.all {
  background-color: gainsboro;
}
.button {
  background-color: beige;
  margin:0 auto;
}
